.mainSection {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;

    .mainSectionColumn2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 368px;
    }
}

.section1 {
    width: 824px;
    height: 690.21px;
    background: #E6F5FA;
    font-family: exo;
    text-align: center;
    border-radius: 16px 16px 16px 16px;
}

#effortless1 {
    font-size: 40px;
}

#effortForMobile {
    display: none;
}

#actionForMobile {
    display: none;
}


.section2 {
    padding: 32px 24px 32px 24px;
    gap: 16px;
    border-radius: 16px 16px 16px 16px;
    background: #ECEEFA;
    font-family: exo;
    text-align: center;
    grid-area: section2;

}

#enhanced1,
#stunning1 {
    font-size: 24px;
    font-family: exo;
    margin-top: 32px;
}

#enhanced3 {
    display: block;
}

#effortless2,
#enhanced2,
#stunning2 {
    font-size: 20px;
    margin: 8px auto;
    color: #545454;
}

#enhancedImage {
    margin-bottom: -40px;
}



.section3 {
    padding: 32px 24px 32px 24px;
    gap: 16px;
    border-radius: 16px 16px 16px 16px;
    background: #E6F5FA;
    font-family: exo;
    text-align: center;
    grid-area: section3;
}

#stunning3 {
    display: block;
}

#stunningImage {
    margin-bottom: -40px;
}


.section4 {
    width: 100%;
    padding: 0px 48px 0px 48px;
    border-radius: 16px 16px 16px 16px;
    background: #ECEEFA;
    font-family: exo;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#action1 {
    margin-top: 100px;
}

#action2 {
    font-size: 40px;
}

#action3 {
    text-align: left;
    font-size: 28px;
    color: #545454;

}

#action4,
#action5 {
    display: block;
}

@mixin section4_tablet {
    .section4 {
        display: flex;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;

        #action1 {
            margin-top: 0px;
        }

        #actionImage {
            width: 250px;
            height: 223.61px;
        }
    }
}

/* Tablet portrait media query */
@media (max-width: 768px),
(max-width: 820px) {
    .mainSection {
        .section1 {
            padding: 0px;
        }

        .mainSectionColumn2 {

            .section2,
            .section3 {
                width: 42%;
            }
        }

        @include section4_tablet()
    }
}

/* Tablet landscape media query */
@media (max-width: 1024px) {
    .mainSection {
        .section1 {
            padding: 64px;
            width: 100%;
        }

        .mainSectionColumn2 {
            width: 100%;
            flex-direction: row;

            .section2,
            .section3 {
                width: 44%;
            }
        }

        @include section4_tablet()
    }
}

@media (max-width: 640px) {
    .mainFeatures {
        overflow-x: hidden;
    }

    .mainHeading {
        .head {
            width: 98px;
            padding: 0 8px;
            gap: 0;
            margin-bottom: 12px;
            margin-top: 52px;

            .logo {
                width: 24px;
                height: 24px;
            }

            #features {
                font-size: 12px;
            }
        }
        .openSource {
            #source {
                font-size: 24px;
            }
        }
    }

    .mainSection {
        .section1 {
            height: auto;
            padding: 18px;

            #effortlessImage {
                width: 240px;
                height: 160px;
            }
        }

        .mainSectionColumn2 {
            flex-direction: column;
            row-gap: 24px;

            .section2, .section3 {
                width: 100%;
                padding: 0;
            }
        }

        .section4 {
            flex-direction: column;
            padding: 24px 0px;

            #action1 {
                #action2 {
                    font-size: 20px;
                }

                #action3 {
                    font-size: 16px;
                    text-align: center;
                }

                #action3 {
                    padding: 0 18px;
                }
            }
        }

        #effortless1, #enhanced1, #stunning1 {
            font-size: 20px;
        }

        #effortless2, #enhanced2, #stunning2 {
            font-size: 16px;
        }
    }
}