@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

section.contactSection {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 84px;
}

.contact-container {
    width: 100%;
    height: 49.3rem;
    display: flex;
    gap: 4rem;
    font-family: Lexend;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 0px 0px 90px;
}

.contact-left-side {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.top-contact-part {
    width: 550px;
    height: 225px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.started {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 227px;
    height: 56px;
    border-radius: 24px;
    padding: 8px 16px 8px 16px;
    background-color: rgba(236, 238, 250, 1);
}

.logo-icon {
    /* width: 24px;
    height: 18.49px;
    color: rgba(68, 81, 202, 1); */
    width: 40px;
    height: 40px;
    border-radius: 32px;
}

.started-text {
    width: 137px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    color: rgba(68, 81, 202, 1);
    font-family: "Lexend", sans-serif;
    font-weight: 300;

}

.contact-head-text {
    width: 550px;
    height: 145px;
}

.contact-head-text h1 {
    width: 320px;
    height: 85px;
    font-weight: 600;
    font-size: 54px;
    line-height: 85.06px;
    color: rgba(22, 22, 22, 1);
    font-family: Exo;
    text-align: start;
}

.contact-head-text p {
    width: 520px;
    height: 60px;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 30px;
    color: rgba(84, 84, 84, 1);
    text-align: start;
}

.contact-bottom-part {
    width: 550px;
    height: 536px;
    display: flex;
    flex-direction: column;
}

form {
    width: 550px;
    height: 477px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-label {
    width: 550px;
    height: 102px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.full-name {
    width: 118px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(84, 84, 84, 1);
    text-align: start;
}

input {
    width: 550px;
    height: 54px;
    border-radius: 8px;
    background-color: rgba(236, 238, 250, 1);
    border: none;
}

        input::placeholder {
            font-size: 12px;
            padding-left: 1rem;
        }

.email {
    width: 65px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(84, 84, 84, 1);
    text-align: start;
}

.message-label {
    width: 550px;
    height: 237px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message {
    width: 163px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(84, 84, 84, 1);
    text-align: start;
}

textarea {
    width: 550px;
    height: 237px;
    border-radius: 8px;
    background-color: rgba(236, 238, 250, 1);
    border: none;
}


.input-fullname input,
.input-email input,
.input-message textarea {
    padding: 0px 32px;
}

.submit-btn {
    width: 115px;
    height: 46px;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    gap: 10px;
    background-color: rgba(62, 74, 184, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    border: none;
    align-self: self-end;
    cursor: pointer;
}



.contact-right-side {
    width: 708px;
    height: 723px;
    border-radius: 16px 0 0 16px;
}

.contact-photo {
    width: 100%;
    height: 723px;
}



/* MEDIA QUERY FOR MOBILE */

@media only screen and (max-width:639px) {
    section.contactSection {
        margin-bottom: 44px;
    }

    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 16px;
        border: 1px solid rgba(176, 176, 176, 1);
        width: 90%;
        height: auto;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 1);
        margin-top: 2rem;

    }

    .contact-left-side {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 16px;
    }

    .top-contact-part {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 204px;
        gap: 16px;
    }

    .started {
        border: none;
        width: 167px;
        height: 32px;
        padding: 22px 20px 22px 20px;
        gap: 8px;
    }

    .logo-icon {
        width: 28px;
        height: 28px;
        border-radius: 32px;
    }

    .started-text {
        width: 100%;
        height: 15px;
        font-size: 16px;
        line-height: 15px;
        font-weight: 300;
    }

    .contact-head-text {
        width: 100%;
    }

    .contact-head-text p {
        width: 100%;
    }

    .contact-head-text h1 {
        width: 100%;
        height: 37px;
        font-weight: 600;
        font-size: 32px;
        line-height: 37.21px;
        text-align: center;
    }

    .contact-head-text p {
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
        text-align: center;
    }

    .contact-bottom-part {
        width: 100%;
        height: auto;
        gap: 8px;
    }

    form {
        width: 100%;
    }

    .input-label {
        width: 100%;
        height: 102px;
        gap: 8px;
    }

    .full-name {
        width: 118px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }

    input {
        width: 100%;
        height: 40px;
        border-radius: 3px;
    }

    input::placeholder {
        font-size: 12px;
        padding-left: 1rem;
    }

    .email {
        width: 65px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }

    .message-label {
        width: 100%;
        height: 227px;
        gap: 8px;
        border-radius: 8px;
    }

    .message {
        width: 163px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
    }

    textarea {
        width: 100%;
        height: 180px;
        border-radius: 5px;
    }

    .submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 77px;
        border-radius: 8px;
        padding: 2px 16px 2px 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        border: none;
        align-self: center;
        cursor: pointer;
    }

    .contact-right-side {
        display: none;
    }
}


/* MEDIA QUERY FOR TABLET */

@media only screen and (min-width:640px) and (max-width: 1024px) {
    /* section {
        margin: auto;
    } */


    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        padding: 32px;
        border: 1px solid rgba(176, 176, 176, 1);
        width: 770px;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 1);
        margin: 1rem auto;

    }

    .contact-left-side {
        width: 706px;
        height: 860px;
        gap: 6px;
    }

    .top-contact-part {
        width: 706px;
        height: 204px;
        gap: 8px;
    }

    .started {
        border: none;
        width: 225px;
        height: 56px;
        padding: 8px 16px 8px 16px;
        gap: 16px;
    }

    .logo-icon {
        width: 40px;
        height: 40px;
        border-radius: 32px;
    }

    .started-text {
        width: 137px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
    }

    .contact-head-text {
        width: 706px;
        height: 124px;
    }

    .contact-head-text h1 {
        width: 240px;
        height: 64px;
        font-weight: 600;
        font-size: 38px;
        line-height: 63.70px;
    }

    .contact-head-text p {
        width: 576px;
        height: 60px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }

    .contact-bottom-part {
        width: 706px;
        height: 477px;
        gap: 8px;
    }

    form {
        width: 706px;
        height: 547px;
        gap: 0px;
    }

    .input-label {
        width: 706px;
        height: 102px;
        gap: 8px;
    }

    .full-name {
        width: 118px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }

    input {
        width: 706px;
        height: 54px;
        border-radius: 8px;
    }

    .email {
        width: 65px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }

    .message-label {
        width: 706px;
        height: 227px;
        gap: 8px;
        border-radius: 8px;
    }

    .message {
        width: 163px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
    }

    textarea {
        width: 706px;
        height: 227px;
        border-radius: 8px;
    }

    .submit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 77px;
        border-radius: 8px;
        padding: 2px 16px 2px 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        border: none;
        align-self: self-end;
        cursor: pointer;
    }

    .contact-right-side {
        display: none;
    }

}