* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.landing-contact {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 116px;
    width: 100%;
    height: 899px;
    font-family: Lexend;
    /* position: fixed;
    top: 0.01px; */
    padding: 0 0 0 137px;

}

.contact-get-started {
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(236, 238, 250, 1);
    width: fit-content;
    gap: .2rem;
    border-radius: 20px;
    padding: .2rem .8rem;
    cursor: pointer;
}

.contact-get-started p{
    font-size: 24px;
}

.logo-icon{
    width: 40px;
}

.contact-h1{
    font-size: 64px;
}

.form-message-text{
    font-size: 24px;
}


.contact-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 881px;
    width: 550px;
}

.contact-h1 {
    font-family: Exo;
}

.contact-header-text p {
    width: 80%;
}

.contact-header-text {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 550px;
    height: 616px;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    font-size: 24px;
}

.form-label input {
    width: 550px;
    height: 64px;
    background-color: rgba(236, 238, 250, 1);
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
}


.form-label textarea {
    padding-top: 1rem;
    padding-left: 1rem;
    width: 550px;
    height: 257px;
    background-color: rgba(236, 238, 250, 1);
    border: none;
    border-radius: 5px;
}

.contact-form-button {
    padding: 8px, 16px, 8px, 16px;
    width: 115px;
    height: 46px;
    background-color: rgba(62, 74, 184, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    align-self: flex-end;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
}



/* MEDIA QUERY!!! */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .contact-caller {
        display: none;
    }

    .landing-contact {
        margin: 1rem;
        padding: 0;
    }

    .contact-left {
        border: 1px solid rgba(176, 176, 176, 1);
        width: 100%;
        padding: 1rem;
    }

    .logo-icon {
        width: 20%;
    }

    .contact-get-started p {
        font-size: .9rem;
    }
}

@media screen and (max-width: 480px) {
    .contact-caller {
        display: none;
    }

    .landing-contact {
        margin: 1rem;
        padding: 0;
    }

    .contact-left {
        border: 1px solid rgba(176, 176, 176, 1);
        width: 100%;
        padding: 1rem;
    }

    .logo-icon {
        width: 20%;
    }

    .contact-get-started p {
        font-size: .9rem;
    }
}