* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    /* width: 100%; */
    width: 1440px;
    height: 462px;
    background-color: rgba(255, 255, 255, 1);
    font-family: Lexend;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section {
    width: 1296.05px;
    height: 413.87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.top-footer {
    width: 1227px;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 142px;
}

.left-side {
    width: 456px;
    height: 173.87px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.logo {
    width: 305px;
    height: 61.87px;
}

.left-text {
    width: 456px;
    height: 96px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(84, 84, 84, 1);
}

.right-side {
    width: 629px;
    height: 235px;
    display: flex;
    gap: 72px;
}

.right-mid {
    width: 188px;
    height: 189px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.right-mid-head {
    width: 188px;
    height: 43px;
    font-family: Exo;
    font-weight: 600;
    font-size: 32px;
    line-height: 42.53px;
    color: rgba(68, 81, 202, 1);
}

.dropdown {
    width: 134px;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dropdown a {
    width: 134px;
    height: 30px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
}


.bottom-footer {
    display: flex;
    gap: 62.8rem;
    width: 100%;
    border-top: 1px solid rgba(169, 175, 231, 1);
    padding-top: 16px;
    margin-left: 5rem;
}

.bottom-right {
    width: fit-content;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.copryright {
    font-size: 1.8rem;
}

.bottom-text {
    width: 115px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
    text-wrap: nowrap;
}


@media (max-width: 834px) {
    footer {
        width: 100%;
        height: auto;
        font-family: Lexend;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .footer-section {
        width: 770px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 68px;
    }

    .top-footer {
        width: 100%;
        height: auto;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .left-side {
        width: 335px;
        height: 116.57px;
        display: flex;
        flex-direction: column;
        gap: 20.43px;
        align-self: flex-start;
    }

    .logo {
        width: 200px;
        height: auto;
    }

    .left-text {
        width: 335px;
        height: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* text-align: center; */
        color: rgba(84, 84, 84, 1);
    }

    .right-side {
        width: 367px;
        height: auto;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        gap: 8px;
        align-self: flex-start;
        /* align-items: center; */
    }

    .right-mid {
        width: 117px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .right-mid-head {
        width: 100%;
        height: auto;
        font-family: Exo;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: rgba(68, 81, 202, 1);
    }

    .dropdown {
        width: 89px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-items: center;
    }

    .dropdown a {
        width: 100%;
        height: auto;
        font-weight: 300;
        font-size: 12px;
        /* text-align: center; */
        color: rgba(51, 51, 51, 1);
        text-decoration: none;
    }

    .social-icon {
        width: 30px;
    }

    .bottom-footer {
        display: flex;
        gap: 31rem;
        width: 720px;
        border-top: 1px solid rgba(169, 175, 231, 1);
        padding-top: 1rem;
        align-items: center;
        margin-left: 0;
    }

    .bottom-right {
        width: 111px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .copryright {
        font-size: 1.6rem;
    }

    .bottom-text {
        width: 87px;
        height: auto;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: rgba(51, 51, 51, 1);
    }
}



@media (max-width: 360px) {
    /* footer {
        width: 100%;
        height: auto;
        font-family: Lexend;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    } */

    .footer-section {
        width: 312px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    .top-footer {
        width: 312px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .left-side {
        width: 312px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .logo {
        width: 150px;
        height: 30.43px;
    }

    .left-text {
        width: 312px;
        height: 60px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: start;
        color: rgba(84, 84, 84, 1);
    }

    .right-side {
        width: 312px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        gap: 2rem;
        align-items: center;
    }

    .right-mid {
        width: 117px;
        height: 119px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-align: start;
    }

    .social-icon {
        width: 24px;
        height: auto;
    }

    .right-mid-head {
        width: 117px;
        height: auto;
        font-family: Exo;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: rgba(68, 81, 202, 1);
    }

    .dropdown {
        width: 89px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        text-align: start;
    }

    .dropdown-row {
        width: 100%;
        height: 24px;
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .dropdown a {
        width: 100%;
        height: auto;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: rgba(51, 51, 51, 1);
        text-decoration: none;
    }

    .bottom-footer {
        display: flex;
        gap: 8rem;
        width: 100%;
        border-top: 1px solid rgba(169, 175, 231, 1);
        padding-top: 1rem;
        align-items: center;
    }

    .bottom-right {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .2rem;
    }

    .copryright {

        font-size: 1.4rem;
    }

    .bottom-text {
        width: auto;
        height: auto;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.25rem;
        color: rgba(51, 51, 51, 1);
    }
}