* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer {
    width: 90rem;
    height: 28.875rem;
    background-color: rgba(255, 255, 255, 1);
    font-family: Lexend;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-section {
    width: 81%;
    height: 25.866875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.top-footer {
    width: 76.6875rem;
    height: 14.6875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.875rem;
}

.left-side {
    width: 28.5rem;
    height: 10.866875rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logo {
    width: 19.0625rem;
    height: 3.8675rem;
}

.left-text {
    width: 25.5rem;
    height: 6rem;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    color: rgba(84, 84, 84, 1);
}

.right-side {
    width: 39.3125rem;
    height: 14.6875rem;
    display: flex;
    gap: 2.5rem;
}

.right-mid {
    width: 11.75rem;
    height: 11.8125rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right-mid-head {
    width: 11.75rem;
    height: 2.6875rem;
    font-family: Exo;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.658125rem;
    color: rgba(68, 81, 202, 1);
}

.dropdown {
    width: 8.375rem;
    height: 7.625rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dropdown a {
    width: 8.375rem;
    height: 1.875rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.875rem;
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
}

.social-icon {
    width: 2rem;
}

.bottom-footer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    

    gap: 53.8rem;
    width: 100%;
    border-top: 1px solid rgba(169, 175, 231, 1);
    padding-top: 1rem;
    /* margin-left: 5rem; */
    /* border: 1px solid; */
}

.bottom-right {
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.copryright {
    font-size: 1.8rem;
}

.bottom-text {
    width: 100%;
    height: 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(51, 51, 51, 1);
    /* text-wrap: nowrap; */
}

@media (min-width: 361px) and (max-width: 834px) {

    footer {
        width: 100%;
        height: 100% !important;
    }

    .footer-section {
        width: 100%;
        height: 100%;
        gap: 4rem;
    }

    .top-footer {
        width: 100%;
        height: 100%;
        gap: 1rem;
        padding: auto;
    }

    .left-side {
        width: 40%;
        height: 100%;
    }

    .logo {
        width: 60%;
        height: 100%;
    }

    .left-text {
        width: 90%;
        height: 100%;
        font-size: 1rem;
        line-height: 1.8;
    }

    .right-side {
        width: 100%;
        height: 100%;
        gap: 1rem;

    }

    .right-mid {
        width: 100%;
        height: 100%;
        gap: 0.8rem;
    }

    .right-mid-head {
        width: fit-content;
        height: 100%;
        font-size: 1.2rem;
        line-height: 1;
    }

    .dropdown {
        width: 60%;
        height: 100%;
        gap: 0.8rem;
    }

    .dropdown a {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        line-height: 1;
    }

    .social-icon {
        width: 25%;
    }

    .bottom-footer {
        max-width: 834px;
        width: 100%;
        /* justify-content: center; */
        align-items: center;
        gap: 63%;
        padding-top: 1rem;

    }

    .bottom-right {
        height: 100%;
    }

    .copryright {
        font-size: 1rem;
    }

    .bottom-text {
        width: 100%;
        height: 100%;
        font-size: 1rem;
        line-height: 2.5;
    }
}

@media (max-width: 360px) {}