@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lexend:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* margin-top: 1rem; */
    background-color: rgba(255, 255, 255, 1);
    font-family: Lexend;
}

.main-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 323px;
    width: 100%;
}

.footer-top-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 235px;
    padding: 0px 90px;
    column-gap: 68px;
}

.footer-right-side {
    display: flex;
    gap: 72px;
    width: 629px;
    height: 235px;
}

ul li {
    list-style: none;
}

.footer-right-tabs1 {
    width: 188px;
    height: 189px;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 24px;
}

.footer-right-tabs1 h2,
.footer-right-tabs2 h2,
.footer-right-tabs3 h2 {
    width: 188px;
    height: 43px;
    font-size: 32px;
    font-weight: 600;
    line-height: 42.53px;
    color: rgba(68, 81, 202, 1);
    font-family: Exo;

}

.footer-listed-items {
    width: 134px;
    height: 122px;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
}

.footer-listed-items li {
    width: 134px;
    height: 30px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: rgba(51, 51, 51, 1);
}

.footer-right-tabs2 {
    width: 151px;
    height: 235px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: start;
}

.footer-right-tabs3 {
    width: 146px;
    height: 227px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: start;
}

.footer-listed-items2 {
    width: 134px;
    height: 122px;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
}


.footer-left-side {
    width: 456px;
    height: 173.87px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-logo {
    width: 305px;
    height: 61.87px;
}

.footer-left-text {
    width: 456px;
    height: 96px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(84, 84, 84, 1);
    text-align: start;
}

.footer-bottom-container {
    border-top: 1.6px solid rgba(169, 175, 231, 1);
    width: 100%;
    height: 56px;
    display: flex;
    align-items: flex-end;
    gap: 24px;
}

.bottom-footer-inner {
    width: 100%;
    justify-content: space-between;
    height: 32px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 16px;
}

.copyright-copy {
    width: 100%;
    height: 100%;
    color: rgba(51, 51, 51, 1);
    font-size: 1.4rem;
    font-weight: 600;
}

.footer-bottom-left {
    width: 151px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer-bottom-text {
    width: 151px;
    height: 24px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}


/* MEDIA QUERY FOR MOBILE */

@media only screen and (max-width:639px) {
    footer {
        width: 100%;
        padding: 40px 24px 40px 24px;
    }

    .main-footer-container {
        width: 100%;
        gap: 0rem;
        height: auto;
    }

    .footer-top-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 12px;
        height: auto;
    }

    .footer-left-side {
        width: 100%;
        height: auto;
    }

    .footer-logo {
        width: 150px;
        height: 30px;
    }

    .footer-left-text {
        width: 100%;
        font-size: 1.6rem;
        line-height: 30px;
        height: auto;
        margin-bottom: 62px;
    }

    .footer-right-side {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        gap: 0;
        column-gap: 12px;
    }

    .footer-right-tabs1 {
        width: 48%;

        h2 {
            margin-bottom: 16px;
        }
    }

    .footer-right-tabs2 {
        width: 48%;
    }

    .footer-right-tabs3 {
        width: 40%;
        gap: 32px;
        height: auto;
    }

    .footer-right-tabs1 h2 {
        width: 100%;
        height: 27px;
        font-size: 1.6rem;
        line-height: 26.58px;
    }

    .footer-right-tabs2 h2 {
        width: 100%;
        height: 27px;
        font-size: 1.8rem;
        line-height: 26.58px;
    }

    .footer-right-tabs3 h2 {
        width: 100%;
        height: 27px;
        font-size: 1.6rem;
        line-height: 26.58px;
    }

    .footer-listed-items-text-sm1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footer-listed-items-text-sm2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footer-listed-items-text-sm3 {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .footer-listed-items2 {
        height: auto;
        margin-bottom: 24px;
    }


    .footer-listed-items-text-sm1 li {
        width: 100%;
        height: 20px;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 20px;
    }

    .footer-listed-items-text-sm2 li {
        width: 100%;
        height: 20px;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 20px;
    }

    .footer-listed-items-text-sm3 a {
        width: 100%;
    }

    .social-icon {
        width: 32px;
    }

    .footer-bottom-container {
        width: 312px;
        height: 40px;
        gap: 8px;
        width: 100%;
    }

    .bottom-footer-inner {
        width: 100%;
        height: 32px;
        justify-content: space-between;
        gap: 0;
        padding: 0;
        padding-top: 1.6rem;
    }

}



/* MEDIA QUERY FOR TABLET */

@media only screen and (min-width:640px) and  (max-width: 1024px){
    footer {
        width: 100%;
        padding: 40px 24px 0 24px;
        gap: 10px;
        align-items: start;
        justify-content: start;
    }

    .main-footer-container {
        width: 100%;
        height: 50%;
        gap: 0rem;
    }

    .footer-top-container {
        align-items: flex-start;
        width: 100%;
        height: 100%;
        gap: 2rem;
        padding: 0 12px;
    }

    .footer-left-side {
        width: 28rem;
        gap: 0rem;
    }

    .footer-logo {
        width: 180px;
        height: 180px;
    }

    .footer-left-text {
        width: 24rem;
        height: 60px;
        font-size: 1.2rem;
        line-height: 30px;
    }

    .footer-right-side {
        width: 100%;
        gap: 2rem;
    }

    .footer-right-tabs1 {
        width: 60%;
        height: 119px;
        gap: 16px;
    }

    .footer-right-tabs2 {
        width: 40%;
        height: 147px;
        gap: 16px;
    }

    .footer-right-tabs3 {
        width: 50%;
        height: 80px;
        gap: 32px;
    }

    .footer-right-tabs1 h2 {
        width: 100%;
        height: 27px;
        font-size: 1.4rem;
        line-height: 26.58px;
    }

    .footer-right-tabs2 h2 {
        width: 100%;
        height: 27px;
        font-size: 1.4rem;
        line-height: 26.58px;
    }

    .footer-right-tabs3 h2 {
        width: 100%;
        height: 27px;
        font-size: 1.4rem;
        line-height: 26.58px;
    }

    .footer-listed-items-text-sm1 {
        width: 100%;
        /* height: 76px; */
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footer-listed-items-text-sm2 {
        width: 100%;
        /* height: 104px; */
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footer-listed-items-text-sm3 {
        width: 100%;
        /* height: 24px; */
        display: flex;
        gap: 1rem;
    }


    .footer-listed-items-text-sm1 li {
        width: 100%;
        height: 20px;
        font-weight: 300;
        font-size: 1rem;
        line-height: 20px;
    }

    .footer-listed-items-text-sm2 li {
        width: 100%;
        height: 20px;
        font-weight: 300;
        font-size: 1rem;
        line-height: 20px;
    }

    .footer-listed-items-text-sm3 a {
        width: 100%;
    }

    .social-icon {
        width: 1.4rem;
    }

    .footer-bottom-container {
        width: 312px;
        height: 40px;
        gap: 8px;
        width: 100%;
    }

    .bottom-footer-inner {
        /* width: 312px; */
        width: 100%;
        height: 32px;
        justify-content: space-between;
        gap: 0;
        padding-top: 1.6rem;

    }

}