.App {
  font-family: "Inter", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Exo", sans-serif;
  }
}

@media only screen and (max-width: 600px) {
  .dashboardLogo {
    display: none;
  }
}

body {
  background-color: #F7F7F7 !important;
  overflow-x: hidden;
}