html {
  scroll-behavior: smooth;
}


.header {
  position: sticky;
  top: 1rem; 
  width: calc(100% - 2rem); 
  height: Hug(96px);
  padding: 24px, 40px;
  margin: 0 auto;
  background: #ffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 72px; 
  max-width: 1200px; 
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; 
    position: relative;
  }



  .logo {
    width: 129.69px;
    height: 30.43px;
  }

  .nav {
    display: flex;
    align-items: center;
    width: Hug(258px);
    height: Hug(21px);
    gap: 24px;

    .nav-link {
      text-decoration: none;
      color: #333;
      font-family: Exo;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.26px;
      transition: color 0.3s;

      &.active {
        color: #4451CA;
        font-weight: bold;
      }

      &:hover {
        color: #007bff; 
      }
    }
  }

  .header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: Hug(227px);
    height: Hug(48px);
    gap: 23px;

    .btn {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s;

      &.login {
        background: #4451CA;
        color: #fff;
        font-family: Lexend;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        &:hover {
          background: #0056b3;
        }
      }
    }

    .icon {
      height: 24px; 
      width: 24px;  
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .mobile-view{
    display: none;
  }

  .hamburger-icon {
    display: none; 
    width: 24px; 
    height: 24px; 
    cursor: pointer;
  }   
}


/* Mobile view */
@media (max-width: 430px) {
  .header {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 16px;
    }

    .logo {
      width: 72px;
      height: 16.89px;
    }

    .mobile-view {
      display: none;

      &.open {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        position: absolute;
        top: 60px; 
        right: 0;
        background: #fff;
        width: 100%;
        padding: 1rem 2rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: center;
        gap: 16px;
      }
    }

    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 16px;
    }

    .header-buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      gap: 8px;
    }

    .hamburger-icon {
      display: block; 
    }
  }
}
